

.alert-container {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999999; 
    margin-top: 11vh;
}

.alert {
    width: 100%;
    padding: 10px;
	place-items: center;
    text-align: center;
	z-index: 999991; 
	
}

.alert-success {
    background-color: #4CAF50; 
	height: fit-content;
	border-radius: 8px;
    color: white;

}

.alert-error {
    background-color: #f44336; 
	height: fit-content;
	border-radius: 8px;
    color: white;
}





.wrapper h1 {
    color: #F97134;
    margin: auto;
    text-align: center;
    font-size: 36px;
}

.wrapper{
    position: absolute;
    top: 0;
	width: 100%;
    margin-top: 11vh;
	height: 100vh;
	background-color: #470047;
	display: block;
	overflow-y: auto;
	justify-content: center;
	place-items: center;
	background-color: #470047;
	z-index: 99;
}

.wrapper input[type="file"]{
    margin: 0 0 25px 0;
}

.wrapper .row {
    margin: 5px 0 0 0;
}

.wrapper #desc {
    border: 1px solid #000000;
    padding: 5px;
    width: 80%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  
}

.image {
    margin-right: 25px;

    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    border: 5px solid;
    margin: auto;
    width: 15%;
}

.wrapper .dividers{
    display: inline-block;
    vertical-align: middle;
    min-height: 400px;
    color: white;
    margin-left: 200px;
    overflow-y: auto;
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 20px;
    vertical-align: text-top;
}

input, select{
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

textarea {
    padding: 10px;
    border: 1.5px solid;
    border-radius: 20px;
}

.bigtxt {
    display: flex;
    align-items: center;
}

input[type="submit"] {
    border-radius: 36px;
    border: 0;
    padding: 10px 15px 10px 15px;
    background-color: #FF8F2F;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: auto;
    display: block; 
}


input[type="submit"]:hover{
    scale: 1.1;
    background-color: #F97134;
    cursor: pointer;
}

@media screen and (max-width: 1200px)    {
    .wrapper{
    padding: 10px 48px 0px 48px;
    font-size: 20px;
    margin: 0;
    }

    .header {
        padding: 100px 0 0 0;
    }

    .wrapper h1 {
        text-align: center;
        margin-left: 0px;
    }
}