@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
.search {
	padding: 100px 48px 0 48px;
	width: 100%;
	text-align: center;
}

.search input{
	width: 50%;
	margin-top: 20px;
	padding: 10px 0 10px 15px;
	border-radius: 12px;
	border: 0;
	background-color: #A02B68;
	color: white;
	height: fit-content;
}

::placeholder {
	color: whitesmoke;
	font-size: 20px;
}

.topbar{
	height:  100%;
	width: 100%;
	margin-bottom: 10px;
	color: black;
	
}

.r input{
	height: 45px;
	width: 100%;
	padding-left: 10px;
	border-radius: 8px;
	border: 0;
	background-color: lightgray;
}

 .row{
	height:  100%;
	width: 100%;
	margin-bottom: 10px;
	color: black;
	
}
 .row input{
	height: 45px;
	width: 100%;
	padding-left: 10px;
	border-radius: 8px;
	border: 0;
	background-color: lightgray;
}

.topbar {
	width: 100%;
	background-color: #470047;
	margin-top: 20px;
	padding: 10px 0 10px 0;
	width: 100%;
	height: fit-content;
	overflow-x: auto;
}

.topbar ul {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
}

.topbar ul li {
	margin: auto;
}

.topbar .active {
	color: #F97134;
	text-decoration: underline;
}

.topbar ul li a {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.topbar ul li a:hover {
	color: #F97134;
	font-weight: bold;
}

.topbar #stat {
	display: flex;
	margin-right: 30px;
	gap: 100px;
	margin: auto;
}

/**CARD**/

.card {
	width: 100%;
	height: fit-content;
	border: 1px solid;
	margin: 0;
	display: flex;
	font-size: 22px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.card label {
	font-weight: bold;
	display: inline-block;
	text-align: right;
    clear: both;
    margin-right: 15px;
    color: #F97134;
}

.card .col1,.col2,.col3 {
	width: AUTO;
	margin: 10px 50px 10px 50px;
}

.col3 #accepted{
	color: #7ED957;
	font-weight: bold;
	display: inline-block;
}

.col3 .btnstat {
	width: 100%;
	display: flex;
}

.col3 button {
	padding: 5px 10px;
	border: 0px;
	border-radius: 26px;
	width: fit-content;
	font-size: 30px;
	margin: 10px 20px;
	font-weight: bold;
}

.col3 .ratesheet {
	width: 100%;
	display: flex;
}

.col3 .ratesheet textarea {
	padding: 5px;
	width: 100%;
}

.col3 #rate {
	background-color: #7ED957;
	color: white;
}

.col3 button:hover {
	scale: 1.1;
	cursor: pointer;
}

.rating-box input {
	display: none;
}

.rating-box {
	position: relative;
	background: #fff;
	padding: 10px 0;
}

.rating-box .stars {
	display: flex;
	align-items: center;
	gap: 2px;
}

.stars i {
	color: #e6e6e6;
	font-size: 35px;
	cursor: pointer;
	transition: color 0.2s ease;
}

.stars i.active {
	color: #ff9c1a;
}

#pos {
	color: white;
	background-color: #7ED957;;
}

#neg {
	color: white;
	background-color: #FF5757;
}



@media screen and (max-width: 900px){
	.card {
		display: block;
		width: 100%;
	}

	.topbar {
		max-width: 1000px;
		text-align: center;
	}

	.topbar #stat {
		gap: 30px;
	}

	.col3 button {
		width: fit-content;
		padding: 20px;
	}

}