@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* COLOR SCHEMES (DARK TO LIGHT)
	PURPLE:
	#470047
	#6F0B5B
	#A02B68

	ORANGE:
	#F97134
	#FF8F2F
	#FFB94E
*/

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    position: absolute;
    opacity: 0;
    transition: opacity 1s; /* Add a fade transition */
}

.mySlides img {
    width: 100%;
    height: auto;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.centered-box {
    position: relative;
    background: rgba(255, 255, 255, 1); /* Background color and opacity */
    top: 220px;
    text-align: center;
    margin: auto;
    padding: 30px;
    width: 40%;
}

select[name="task-dropdown"] option:hover {
    background-color: #f0f0f0;
}

select[name="task-dropdown"]::after {
    content: "\25BC"; /* Down arrow */
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 0 10px;
    background-color: #f9f9f9;
}

select[name="task-dropdown"]::-ms-expand {
    display: none;
}

select[name="task-dropdown"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-right: 10px; /* Add margin to separate from the button */
}

.dropdown-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.find-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
}

.find-button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 900px){
	.dropdown-container {
	    display: block;
	    align-items: center;
	    width: 100%;
	}

	select[name="task-dropdown"] {
	    width: 100%;
	    padding: 10px;
	    border: 1px solid #ccc;
	    border-radius: 5px;
	    font-size: 16px;
	    background-color: #fff;
	    color: #333;
	    margin-bottom: 20px;
	}

	.find-button {
	    background-color: #4CAF50;
	    color: #fff;
	    padding: 10px 20px;
	    border: none;
	    border-radius: 5px;
	    cursor: pointer;
	    width: 100%;
	    font-size: 20px;
	    font-weight: bold;
	}

	.centered-box {
	    position: relative;
	    background: rgba(255, 255, 255, 1); /* Background color and opacity */
	    top: 220px;
	    text-align: center;
	    margin: auto;
	    padding: 30px;
	    width: 100%;
	}
}