@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* COLOR SCHEMES (DARK TO LIGHT)
	PURPLE:
	#470047
	#6F0B5B
	#A02B68

	ORANGE:
	#F97134
	#FF8F2F
	#FFB94E
*/

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.navbar{
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1vw 6vw;
	background-color: #470047;
	z-index: 1000;
}
.logo{
	font-size: 2vw;
	color: #fbaa09;
	font-weight: 800;
	letter-spacing: 2px;
}

.logo img{
	width: 35%;
}
.menuitems {
	height:auto;
	width: 25%;
	display: flex;
	justify-content: flex-end;
}
.menuitems li {
    list-style: none;
    text-align: center; 
    height: fit-content;
    margin: 0 20px;
}

.menuitems li span {
	display: block;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    height: fit-content;
    font-weight: bold;
}

.menuitems li a {
    display: block;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    height: fit-content;
}

.menuitems li:hover a, .menuitems li a.active {
    color: #470047;
    background: #F97134;
    height: fit-content;
    width: 100%;
    border-radius: 3px;
}


#check {
	display: none;
	visibility: hidden;
	-webkit-appearance: none;
			appearance: none; 
}
.navbar label{
	display: none;
}

/*responsiveness*/

@media screen and (max-width: 900px)	
{

	body{
		overflow:  auto;
	}
	.logo{
		font-size: 5vw;
	}
	.navbar label{
		display: block;
		color: white;
		font-size: 4vw;
		padding: 1vw 1.5vw;
		background: #470047;
		cursor: pointer;
		z-index: 1000;
	}
	.menuitems{
		position: fixed;
		top: 0;
		right: -40vw;
		width:25vw;
		height: 100%;
		background: #470047;
		padding-top: 15vw;
		padding-left: 5vw;
		display: block;
		flex-direction: column;
		transition: 0.3s ease;
	}
	.menuitems li a{
		color: white;
		font-size: 3vw;
		margin: 0.5vw 0;
	}
	#check:checked ~ nav .navbar .menuitems{
		right: 0;
	}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
}