
.search {
	width: 100%;
	text-align: center;
}


::placeholder {
	color: whitesmoke;
}


input[type="text"] {
	width: 50%;
	padding: 8px;
	border-radius: 12px;
	border: 0;
	background-color: #A02B68;
	color: white;
}

select[name="task-dropdown"] option:hover {
    background-color: #f0f0f0;
}

select[name="task-dropdown"]::after {
    content: "\25BC"; /* Down arrow */
    position: absolute;
    top: 12px;
    right: 10px;
    padding: 0 10px;
    background-color: #f9f9f9;
}

select[name="task-dropdown"]::-ms-expand {
    display: none;
}

select[name="task-dropdown"] {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    margin-right: 10px; /* Add margin to separate from the button */
}


button[type="submit"] {
	padding: 8px;
	border-radius: 12px;
	border: 0;
	background-color: #A02B68;
	cursor: pointer; 
}


button[type="submit"] img {
	width: 20px;
	height: 20px; 
	vertical-align: middle; 
}

/*BREADCRUMBS CSS */
::placeholder {
	color: whitesmoke;
}

.breadcrumbs ul svg {
	width: 20px;
	vertical-align: middle;
}

.breadcrumbs {
	padding: 150px 48px 0 48px;
	width: fit-content;
}

.breadcrumbs ul {
	display: flex;
	list-style: none;
	align-items: center;
	padding: 0;
	margin: 0;
	gap: 3px;
}

.breadcrumbs ul li a {
	color: black;
	text-decoration: none;
}

.breadcrumbs ul li a:hover {
	color: purple;
}

.breadcrumbs ul li:last-child a{
	font-weight: bold;
}

.breadcrumbs ul li.arrow svg {
	width: 18px;
	color: black;
	cursor: default;
}

/*TOPBAR CSS*/
.searchBar ul svg {
	width: 18px;
	color: #F97134;
	margin: 0 10px;
}

.searchBar {
	padding: 10px 0 10px 0;
	margin-top: 0px;
	width: 100%;
	height: fit-content;
	background-color: #470047;
}

.searchBar ul {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	font-size: 28px;
}

.searchBar ul li {
	margin: auto;
}

.searchBar ul li a {
	color: white;
	font-weight: bold;
}

.searchBar ul li a:hover {
	color: #F97134;
	font-weight: bold;
}

.searchBar #sName {
	text-decoration: underline;
}

.searchBar .active {
	color: #F97134;
	text-decoration: underline;
}

.searchBar input {
	border-radius: 8px;
	border: 0;
	padding: 5px;
	width: 100%;
}

.searchBar #bar {
	width: 750px;
	font-size: 28px;
	height: fit-content;
}

.searchBar input, input::placeholder {
	font-size: 20px;
}

.searchBar #stat {
	display: flex;
	margin-right: 30px;
	gap: 50px;
}

.btnstat:hover {
	scale: 1.1;
	cursor: pointer;
	transition: ease-in .3s;
}

/*CARD CSS*/
main {
	max-width: 1500px;
	width: 95%;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

main .card {
	max-width: 300px;
	flex: 1 1 210px;
	text-align: left;
	height: fit-content;
	border: 1px solid black;
	margin: 20px;
}

main .card .image {
    height: 200px; /* Set a fixed height for the image container */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
}

main .card .image img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    object-fit: contain; /* Maintain aspect ratio and fit the image inside the container */
	margin-top: 20px;
}


main .addcard {
	max-width: 300px;
	flex: 1 1 210px;
	text-align: left;
	border: 1px solid #F97134;
	margin: 20px;
	padding-top: 100px;
	height: 585px;
}

.addcard button {
	color: #FF8F2F;
	bottom: 10px;
	right: 10px;
	width: 100%;
	background-color: transparent;
	border: 0px solid #3498db;
}

.addcard:hover {
	scale: 1.025;
	cursor: pointer;
}

main .card .taskName {
	font-weight: bold;
	font-size: 30px;
}

main .caption {
	margin: 20px;
}

main .caption .price {
	line-height: 3em;
}

main .caption #delbtn {
	margin-left: 200px;
	width: 50px;
	color: darkred;
}

main .caption .taskName #editbtn {
	position: absolute;
	margin-left: 20px;
	margin-top: 8px;
	width: 28px;
	color: #F97134;
}

main .caption .taskName #editbtn:hover{
	scale: 1.1;
	background-color: #FFB94E;
	cursor: pointer;
	transition: ease-in .2s;
}

main .caption #bookbtn {
	padding-left: 20%;
}

.search select{
	height: 100%;
	width: 25%;
	padding-left: 10px;
	border-radius: 8px;
	border: 1px solid black;
	font-size: 18px;
	margin-top: 10px;
}
main .caption .btnstat {
	position: absolute;
	margin-top: 10px;
	background-color: #FF8F2F;
	border: 0;
	border-radius: 25px;
	font-size: 18px;
	padding: 8px;
	text-transform: uppercase;
}

main .caption .btnstatcs {
	background-color: #FF8F2F;
	border: 0;
	border-radius: 25px;
	font-size: 18px;
	padding: 8px;
	text-transform: uppercase;
}

main .caption .btnstatcs:hover{
	scale: 1.1;
	background-color: #FFB94E;
	cursor: pointer;
	transition: ease-in .2s;
}

main .caption #delbtn:hover {
	scale: 1.25;
	cursor: pointer;
}

.dynamic-font-size {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.text {
    font-size: inherit;
}

.modal {
        display: none;
        position: fixed;
        z-index: 99999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        max-height: 70%; /* Set a maximum height for the modal content */
        overflow: auto; /* Add overflow property to make it scrollable */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #confirmDelete {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
	}

	#confirmDelete:hover {
	    background-color: #d32f2f;
	}


/*RESPONSIVENESS*/
@media screen and (max-width: 1000px) {
	.breadcrumbs {
		width: fit-content;
		padding-top: 90px;
	}
	.search{
		width: 100%;
		text-align: center;
		font-size: small;
	}

	input[type="text"] {
		width: 90%;
		
		padding: 8px;
		border-radius: 12px;
		border: 0;
		background-color: #A02B68;
		color: white;}

	.searchBar {
		max-width: 1000px;
		gap: 8px;
	}

	.searchBar ul li {
		margin: auto;
		font-size: small;
	}

	.searchBar #bar {
		margin: 0px 10px;
	}

	.searchBar #stat {
		margin: 0;
		gap: 10px;
	}
}

/**/